## Python Control Flows

In [14]:
# if statement

val = input("Enter the name")
value = str(val)
print(value)

Enter the nameAvinash
Avinash

In [15]:
val = input("Enter the number")
value = float(val)
print(value)

if(value>25):
    print("Number is greater than 25")

Enter the number45
45.0
Number is greater than 25

In [16]:
10%2

0

In [20]:
val = input("Enter the number")
value = float(val)
print(value)

if(value%2==0):
    print("Number is Even number")
    
else:
        print("Number is odd Number")

Enter the number5
5.0
Number is odd Number

In [21]:
## Age form

age = int(input("Enter the age"))

if(age<18):
    print("You are not eligible")
else:
    print("your registration has been completed")

Enter the age25
your registration has been completed

In [2]:
## Age form

age = int(input("Enter the age"))

if(13<= age <18):
    print("You are Minor")
    
elif(18<= age <35):
    print("You are young blood")
    
elif(35<= age <70):

    print("you have to take life break")
else:
    print("Not Valid")

Enter the age65
you have to take life break

In [9]:
## Nested Ifelse

age = int(input("Enter the age: "))

if 13 <= age < 18:
    print("You are a minor")
elif age < 10:
    print("You are in primary school")
else:
    if 18 <= age < 35:
        print("You are young blood")
    elif 35 <= age < 70:
        print("You have to take a life break")
    elif age >= 70:
        print("You are a senior citizen")
    else:
        print("Not valid")
        # You can add more error handling here if needed

    if age >= 10 and age < 18:
        print("You are in secondary school")
    elif age >= 18:
        print("You are in college or beyond")

Enter the age: 10
Not valid
You are in secondary school

In [10]:
##loops statements
## for loop, while loop

In [29]:
lst = [1,2,3,4,5,6]

In [19]:
for i in lst:
    print(int(i/2))

0
1
1
2
2
3

In [37]:
sum1 = 0
for i in lst:
    sum1 = sum1+i
    
print(sum1)

21

In [38]:
## find the summ numbers odd and even numbers

In [39]:
lst = [1,2,3,4,5,6]

In [42]:
even_sum = 0
odd_sum = 0

for i in lst:
    if(i%2==0):
        even_sum = even_sum + i
    else:
        odd_sum = odd_sum + i
        
print("Even sum is {}".format(even_sum))
print("Odd sum is {}".format(odd_sum))

Even sum is 12
Odd sum is 9

In [43]:
##while condition

In [19]:
i = 0
even_sum = 0
odd_sum = 0

while(i <= 20):
    if(i % 2 == 0):
        even_sum = even_sum + i
    else:
        odd_sum = odd_sum + i
    i = i + 1

print("Even sum is {}".format(even_sum))
print("Odd sum is {}".format(odd_sum))

Even sum is 110
Odd sum is 100

In [20]:
##break

In [1]:
x=1
while(x<7):
    print(x)
    if x == 5:
        break
        
    x = x+1

1
2
3
4
5

In [2]:
##continue

In [7]:
x=0
while(x<7):
    x = x+1
    if x == 4:
        continue
        ##Continue use for skipping that part if that will become true
    print(x)

1
2
3
5
6
7

# Python operators

- Logical operator
- Equality
- comparison
- Arithmetic

In [19]:
age = (int(input("Enter your age")))
if 18<= age <=35:
          print("You are Young")

Enter your age25
You are Young

In [4]:
age = (int(input("Enter your age")))
if age >=18 and age <=35:
          print("Mid Age")

Enter your age25
Mid Age

In [9]:
age = (int(input("Enter your age")))
if age <18 or age >35:
          print("You are eligible")
else:
          print("Not Eligible")

Enter your age25
Not Eligible

#### Equality operator

In [11]:
a = "Avinash"
b = "Avinash"

a==b

True

In [12]:
age = (int(input("Enter your age")))
if age == 18:
          print("You are adult")

Enter your age18
You are adult

In [1]:
marks = float(input("Enter your marks"))
if marks <23:
    print("You are fail")
elif 23 <= marks <= 30:
    print("Grade C")
elif 30<= marks <=60:
    print("Grade B")
elif 60<= marks <=100:
    print("Grade A")
else:
    print("Invalid input! Enter valid mark")

Enter your marks20
You are fail

In [3]:
marks = input("Enter your marks: ")

if not marks.isdigit():
    print("Invalid input! Please enter a valid mark.")
else:
    marks = float(marks)
    if marks < 23:
        print("You have failed!")
    elif 23 <= marks <= 30:
        print("Grade C")
    elif 30 <= marks <= 60:
        print("Grade B")
    elif 60 <= marks <= 100:
        print("Grade A")
    else:
        print("Invalid input! Please enter a valid mark.")

Enter your marks: 20
You have failed!

In [4]:
48/5

9.6

In [2]:
48%5

3

## Python number methods

### Abs()
abs(x) will return the absolute value of a number x which we pass in argument. The number x can be integer,float,complex.

In [5]:
abs(10)

10

In [6]:
abs(-65)

65

In [7]:
abs(0.55)

0.55

In [8]:
abs(-5.50)

5.5

### Ceil()
ceil(x) will return the ceiling value of a number x which we pass in argumnet. The ceiling value of number x will be the smallest integer not less than x.

##### Note:- This function will not be accesible directly using ceil() method. Math module will be required to access this method.

In [9]:
import math

In [10]:
math.ceil(43.75)

44

In [12]:
math.ceil(43.45)
##This method return next number of a value

44

In [13]:
math.ceil(-43.45)

-43

### Floor

In [14]:
math.floor(43.25)

43

In [15]:
math.floor(-43.45)

-44

### Exp()
***exp(x)*** will return the exponential value of a number x which we pass in argument.
* Note:- This function will not be accesible directly using exp() method. Math module will be required to access this method.

In [16]:
math.exp(10)

22026.465794806718

In [17]:
math.exp(-7)

0.0009118819655545162

## fabs()

In [18]:
math.fabs(10.5)

10.5

In [19]:
math.fabs(-10)

10.0

## Log()

In [20]:
math.log(20)

2.995732273553991

In [21]:
math.log(65.4)

4.180522258463153

In [23]:
math.log10(40)

1.6020599913279623

## Max()

In [24]:
max(10,-15,56,100)

100

## Min()

In [25]:
min(-1,-100,50,1)

-100

## Pow()

In [29]:
import math
int(math.pow(2,2))

4

In [31]:
import math
int(math.pow(-2,3))

-8

## Sqrt()

In [33]:
int(math.sqrt(9))

3

In [35]:
## you cant  use neg number 
int(math.sqrt(-9))

ValueError: math domain error

## Triggnometric functions

In [37]:
math.sin(180)

-0.8011526357338304

In [39]:
math.cos(90)

-0.4480736161291701

In [40]:
math.cos(0)

1.0

In [41]:
math.tan(45)

1.6197751905438615

In [42]:
## hypot()

math.hypot(2,3)

3.6055512754639896

In [44]:
## it returns first element returns fraction of x and second element returns int value
x = 3.14159
math.modf(x)

(0.14158999999999988, 3.0)

In [45]:
import sympy

In [47]:
sympy.isprime(3)

True

In [60]:
lst = [3,5,9,13,6,25]

In [64]:
for i in lst:
    if sympy.isprime(i):
        print("Prime numbers:- ",i)
    
else:
        print("Not a prime numbers:- ",i)

Prime numbers:-  3
Prime numbers:-  5
Prime numbers:-  13
Not a prime numbers:-  25

In [61]:
lst

[3, 5, 9, 13, 6, 25]

In [65]:
lst1 = [1,8,9,7,54,60,-17]

In [ ]:
for i in lst1:
    if i>1

In [67]:
lst1 = [-45,1, 8, 9, 7, 54, 60, -17]

max_num = lst1[0]

for i in range(1, len(lst1)):
    if lst1[i] > max_num:
        max_num = lst1[i]

print("The maximum number is:", max_num)

The maximum number is: 60

In [71]:
lst2 = [-0,-25,45,-6,75,63,43]

max_num = lst2[0]

for i in range(1,len(lst2)):
    if lst2[i] > max_num:
        max_num = lst2[i]
        
        
print("The Maximum Number:", max_num)

The Maximum Number: 75

In [72]:
lst2 = [-0,-25,45,-6,75,63,43]

min_num = lst2[0]

for i in range(1,len(lst2)):
    if lst2[i] < min_num:
        min_num = lst2[i]
        
        
print("The Minimum Number:", min_num)

The Minimum Number: -25

In [73]:
len(lst2)

7

In [76]:
range(1,len(lst2))

range(1, 7)

## Append

In [77]:
lst = [1,2,3,4,5]

In [78]:
lst.append("Avi")

In [79]:
lst

[1, 2, 3, 4, 5, 'Avi']

In [80]:
lst.append(["Aakash","Dhruv"])

In [95]:
lst

[1, 2, 3, 4, 5, 'Avi', ['Aakash', 'Dhruv']]

In [84]:
lst[6][0]

'Aakash'

In [94]:
lst[2:-1]

[3, 4, 5, 'Avi']

## Insert

In [96]:
## Insert in a specific order

In [97]:
lst2=[1,2,3,4,5]

In [99]:
lst2.insert(1,"Avi")

In [100]:
lst2

[1, 'Avi', 2, 3, 4, 5]

## Extend Method

##### Extend Method append elements seprately without nested list

In [101]:
lst2.extend([8,9])

In [102]:
lst2

[1, 'Avi', 2, 3, 4, 5, 8, 9]

In [111]:
lst2*2

[1, 'Avi', 2, 3, 4, 5, 8, 9, 1, 'Avi', 2, 3, 4, 5, 8, 9]

## Pop() Method

In [113]:
lst.pop()

['Aakash', 'Dhruv']

In [114]:
lst

[1, 2, 3, 4, 5, 'Avi']

In [115]:
lst.pop(5)

'Avi'

## SETS

A set is an unordered collection data type that is iterable, mutable and has no duplicate elements.
Python set class represents the mathematical notion of a set. This based on a data structure known as a hash table

In [2]:
type({1,2,3,4,5,"Avinash"})

set

In [5]:
print(set({1,2,3,4,5,5}))

{1, 2, 3, 4, 5}

In [6]:
Set_var = {"Avinash","Aakash","Avinash","Saurabh"}
print(Set_var)

{'Aakash', 'Saurabh', 'Avinash'}

In [7]:
for i in Set_var:
    print(i)

Aakash
Saurabh
Avinash

In [8]:
Set_var.add("Krish")

In [9]:
Set_var

{'Aakash', 'Avinash', 'Krish', 'Saurabh'}

In [14]:
set_1 = set([4,76,2,1,5,3])
print(set_1)
## Ordered

{1, 2, 3, 4, 5, 76}

In [15]:
set_1.add(0)

In [16]:
set_1

{0, 1, 2, 3, 4, 5, 76}

In [30]:
set1={"Avengers","IronMan","Hitman"}
set2={"Avengers","IronMan","Hitman","Hulk2"}

In [26]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [27]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [28]:
set2.intersection_update(set1)

In [29]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [31]:
## Difference
set2.difference_update(set1)

In [32]:
print(set2)

{'Hulk2'}

In [33]:
set1={"Avengers","IronMan","Hitman"}
set2={"Avengers","IronMan","Hitman","Hulk2"}

In [38]:
set2.issuperset(set1)
## issuperset check is set1 all elements are available in set2

True

In [39]:
set1.issuperset(set2)

False

In [42]:
set1.issubset(set2)
## issubset check is set1 elements are available in set2

True

In [43]:
set2.issubset(set1)

False